/* --- Main CSS File --- */


/* --- CSS Variables ---*/
:root{
    --color-purple-light: #745a7587;
    --color-purple-dark: #4b3a4c;
    --color-silver: #E7DFDD;
    --color-white: #fff;
    --color-black: #000;
}

/* --- Styles for all ---*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --- Start - Login Page Styles ---*/

.signup-box{
    display: flex;
    display: -webkit-flex;    /*for old browsers*/
    width: 100%;
    height: 100vh;
}

.rightside{
    width: 100%;
    position: relative;
	
}

.form-box{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.inputbox{
    margin-bottom: 15px;
}

.control{
    width: 100%;
    display: block;
    padding: 11px 10px;
    border-radius: 2.8px;
    border: 1px solid var(--color-purple-dark);
    transition: all 1s;
	background: transparent;
	color: var(--color-purple-dark);
}

.control:focus{
    outline: none;
    border: 1px solid var(--color-purple-dark);
}

.btn{
    display: block;
    padding: 12px 9px;
    font-size: 14px;
    border-radius: 35px;
    text-transform: uppercase;
    border: 0px;
    color: white;
}

.signup-btn{
    width: 50%;
    background: #745975;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	margin: 0 40% 0 25%;
}
.signup-btn:hover{
    cursor: pointer;
    background-color: #4b3a4c;
    color: white;
}

.form-head{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 15px;
	letter-spacing: 2px;
	color: silver;	
}

.form-warn{
	font-size: 10px;
	font-weight: 600;
	padding-bottom: 15px;
	letter-spacing: 2px;
	color: red;	
}

.links{
	display: block;
	color: silver;
	font-size: 15px;
	text-decoration: none;
	text-align: left!important;
	font-weight: 300;
	padding-top: 10px;
}


/* --- Media Queries ---*/

@media (max-width: 765px){
	.leftside{
		display: none;
	}
	.rightside {
		width: 100%;
	}
}
.sidebar-fixed{height:100vh;width:270px;-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);z-index:1050;background-color:#fff;padding:0 1.5rem 1.5rem}.sidebar-fixed .list-group .active{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);-webkit-border-radius:5px;border-radius:5px}.sidebar-fixed .logo-wrapper{padding:2.5rem}.sidebar-fixed .logo-wrapper img{max-height:50px}@media (min-width:1200px){.navbar,.page-footer,main{padding-left:270px}}@media (max-width:1199.98px){.sidebar-fixed{display:none}}

.container-for-admin{
  background-color: #eee!important;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
   border-radius: 50% !important;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #745a7587;
  color: white;
  cursor: pointer;
  padding: 15px;.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
   
}